.photo {
    width: 150px;
    text-align: center;
    margin: 20px;
    position: relative;
}

.photo .favourites {
    display: inline-block;
    width: 25px;
    height: 22px;
    background-image: url(../../images/favourites.svg);
    background-repeat: no-repeat;
    background-position: 0 -30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.photo .favourites:hover {
    background-image: url(../../images/favourites.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

}

.photo .favourites.selected {
    background-position: 0 0;
}

.photo .image {
    background-image: url(../../images/loader.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
    margin: 0 auto 10px auto;
}